<h1>Add a contact</h1>
<p>Add a contact here:</p>
<form action="/categories" method="post">
  <label for="category-name">Contact name</label>
  <input id="category-name" name="category-name" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
