<h1>Add detailed info to @Model["category"].GetName()</h1>
<form action='/tasks' method='post'>
  <input id='category-id' name='category-id' type='hidden' value='@Model["category"].GetId()'>
  <label for='task-description'>Address and phone number maybe</label>
  <input id='task-description' name='task-description' type='text'>
  <button type='submit'>Update contact info</button>
</form>
